language: node_js
cache:
  directories:
  - node_modules
notifications:
  email: false
node_js:
- '8'
- '7'
- '6'
- '4'
before_install: npm i -g npm@5
before_script: node ./update.js
after_script: node ./upload.js
after_success: npx semantic-release

# Trigger a push build on master and greenkeeper branches + PRs build on every branches
# Avoid double build on PRs (See https://github.com/travis-ci/travis-ci/issues/1147)
branches:
  only:
    - master
    - /^greenkeeper.*$/
